<!-- For index file -->

	<div class="wrap">
		<header class="row pull-left">
			<h1>Megh Suthar</h1>
			<h4>Waterloo, ON.</h4>
		</header>
		<br>
		
		<section class="main_Message row">
			<p>Hello, I'm currently studying Geological Engineering in University of Waterloo. I like to code in C++, Java (Learning) and ROR. I also know CSS3, jQuery, and some Labview. You can view my detailed CV here, or contact Me or connect with me on Linked In. I'm sorry for just having simple HTML Block, I really wish I had enough time to update or design a website. I would like to apologize for poorly updated project section, as I'm contantly learning rather than building. Have a nice day :)</p>
			<ul class="row pull-right">
				<li>My CV/Resume</li>
				<li>Projects</li>
				<li>Blog</li>
				<li>Message Me</li>
			</ul>
		</section>


		<footer>	
			<div class="message">
				Built using ruby, rails, Bootstrap, jQuery. 
			</div>
		</footer>

		